<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%-5level] [%d{yyyy-MM-dd HH:mm:ss.SSS}] %logger : %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="WARN" />
	<logger name="org.hibernate" level="WARN" />
	<logger name="org.shelltea" level="DEBUG" />

	<!-- 日志等级: DEBUG < INFO < WARN < ERROR < FATAL -->
	<root level="INFO">
		<appender-ref ref="console" />
	</root>
</configuration>