* {
	font-family: 微软雅黑, 宋体, "Helvetica Neue", Helvetica, Arial, Verdana,
		sans-serif;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family: 微软雅黑, 宋体, "Helvetica Neue", Helvetica, Arial, Verdana,
		sans-serif;
}

*:focus {
	outline: 0px !important;
}

.navbar-logo {
	padding: 12px 15px 0px 15px;
}

.navbar-logo span {
	color: #5cb85c;
	font-size: 24px;
}

.navbar-links {
	padding-right: 40px;
}

.navbar-profile-link {
	margin-left: 5px;
}

.navbar-profile-link:HOVER {
	text-decoration: none;
}

.navbar-height-20 {
	height: 20px;
}

.row-padding {
	padding-bottom: 10px;
}

.list-group-item a {
	cursor: pointer;
}

.modal-body img {
	max-width: 538px;
}

.modal-footer-toolbar {
	padding: 2px 20px;
	margin-top: 0;
	text-align: center;
}

.pointer {
	cursor: pointer;
}